* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header-links-container {
  background-color: rgb(247, 244, 244);
}

.top-header-links {
    /* border: 1px black solid; */
    
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 0 20px;
}

.header-link-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-header-link {
    text-decoration: none;
    margin: 1.5px;
    padding: 4px;
    color: #000000;
}

.top-header-links img {
    width: 24px;
    height: 24px;
    margin: 2px 20px;
    
}

/* navbar */
.navbar {
    /* border: 2px solid rgb(154, 101, 101); */
    text-align: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    /* margin: 6px 8px; */
    margin: 10px 23px;
    align-items: center;
    flex-wrap: wrap;
    
}

.navbar-logo {
    
}

.navbar-logo img {
    width: 58px;
    height: 20px;
    align-items: center;
}

.navbar-links {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    /* border: 1px solid green; */
    /* align-items: center; */
    
}

.navbar-links ul{
    list-style: none;
    display: flex;
    

}

.navbar-link a{
    text-decoration: none;
    margin: 7px;
    padding: 2px;
    color: #000000;
}

.navbar-icons {
    /* border: 1px red solid; */
    display: flex;
    margin: 0 2px;
}

.navbar-icon {
    margin: 0 2px;
}

.navbar-icons a {
    text-decoration: none;
    color: #000000;
}

.navbar-search {
    display: flex;
    background-color: rgb(247, 244, 244);
    border-radius: 1.2rem;
}

.navbar-search {
    
}

.navbar-search input::placeholder {
    font-weight: bold;
    color: #c6c5c5;
    
}

.navbar-search i {
    margin: 3px 2px;
   text-indent: 9px;
   /* justify-content: center; */
}

.navbar-search-area {
    /* border: 1px solid rgb(255, 0, 115); */
    background-color: rgb(247, 244, 244);
    width: 120px;
    border: none;
    outline: none;
    border-radius: 20px;
    display: inline;
    justify-content: space-between;
    /* padding: 2px; */
    
}

.navbar-icon  {
    /* border: 1px blue solid; */
    margin: 1.5px;
    

}

/* image-banner */
.image-banner-container {
    /* border: 1px solid red; */
    align-items: center;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin: 0 25px;
    
}

.image-banner img{
    width: 100%;
}

.text-container .after-caps-bold-text, .buttons {
    font-size: 1.3rem;
}

.text-container .after-caps-section{
    text-align: center;
}

.text-container .caps-bold-text {
    /* justify-content: center; */
    font-size: 3.5rem;
    font-weight: bolder;
    padding: 1rem;
}

.text-container .after-caps-bold-text {
    /* justify-content: center; */
}

.text-container .buttons a button {
    padding: 0.8rem;
    margin: 0.5rem;
    background-color: #000000;
    border-radius: 1.2rem;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
.text-container .buttons a button:hover {
background-color: #aaaaaa;
}
  

/* image section container */
.image-section-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin: 15px 25px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    
}

.image-container .images img{
   /* flex-grow: 1; */
   width: 20rem;
   height: 40rem;
}

.image-container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 14px 0;
}

.image-section-container .text-holder {
    /* border:  1px solid blue; */
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 13px 0;
} 


/* imaage slider */

.slider__container .text-holder{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 13px 0;
}

.slider__container {
  display: list-item;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  max-width: 100%;
}

.slider__container h3 {
  margin: 1.2rem;
}

.slider__container:hover {
  cursor: pointer;
}

.image__list {
  justify-content: center;
}

.slider__wrapper .image__list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  margin: 1.5rem;
}

.image__list::-webkit-scrollbar {
  display: none;
}

.slider__wrapper .image__list .image__item {
  width: 35rem;
  height: 40rem;
  object-fit: cover;
}

.image__list__box {
  height: 15rem; 
}

.image__list__box .heading {
  font-size: 1.1rem;
  color: #000000;
}

.image__list__box .sub__heading {
  font-size: .8rem;
  color: #5c5a5a;
}

.ilb__button {
  margin: 1.5rem 0;
  padding: .5rem 0;
  text-decoration: underline;
  text-decoration-color: #aaaaaa;
  text-underline-offset: .4rem;
  color: #000000;
  
}

.image__list__box a {
  margin: 0;
  font-size: .7rem;
}

.image__list__box a:hover {
  color: #616060;
}


/* clickable image */
.clickable-images {
  margin: 0 20px;
  /* border: #000000 solid 1px; */
}

.clickable-image-container .text-holder {
  /* border:  1px solid blue; */
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 1rem 1.3rem;
} 

.clickable-images {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.clickable-image {
  /* background-image: url(nike-video.jpg); */
  background-size: cover;
  height: 30rem;
  padding: 1rem;
  width: 25rem;
  margin: 0.5rem;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

#ck__img1 {
  background-image: url(images/clickable-img.jpg);
  background-size: cover;
  text-align: center;
  color: #8968fc;
  font-size: 3rem;
  font-weight: bolder;
}
#ck__img2 {
  background-image: url(images/clickable-img.jpg);
  background-size: cover;
  text-align: center;
  color: #cdfd62;
  font-size: 3rem;
  font-weight: bolder;
}
#ck__img3 {
  background-image: url(images/clickable-img.jpg);
  background-size: cover;
  text-align: center;
  color: #ef4223;
  font-size: 3rem;
  font-weight: bolder;
}

.ck__bottom {
  color: #fff;
  font-size: 1.2rem;
  /* position: relative; */
  font-weight: normal;
  display: table;

  /* vertical-align: bottom; */
}

.ck__bottom p {
    display: table-cell;
    text-align: left;
}

.ck__bottom a {
  text-decoration: none;
}

.ck__bottom button {
    padding: 0.7rem 1.5rem;
    background-color: #fff;
    border-radius: 0.9rem;
    color: #000000;
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease 0s;
    border: none;
}

.ck__bottom button:hover {
    background-color: #c5c4c4;
}









/* bottomList */
.bottom__list {
  background-color: #fff;
  padding: 4.5rem;
}

.bl__container {
  max-width: 73rem;
  /* background-color: #d7d4d4; */
  margin: auto;
}

.bl__row {
  display: flex;
  flex-wrap: wrap;
}

.bl__row ul {
  list-style: none;
}

.bl__col {
  width: 25%;
  padding: 0 1rem;
}

.bl__col h4 {
  font-size: 1.1rem;
  color: #000000;
  margin-bottom: 1.8rem;
  position: relative;
}

.bl__col li:not(:last-child) {
  margin-bottom: .6rem;
}

.bl__col li a {
  font-size: 1.1rem;
  color: #787878;
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transform: all .3s ease 0s;
}

.bl__col li a:hover {
  color: #262626;
}








/* footer */
.footer {
    background-color: #000000;
    padding: 4.5rem;
  }
  
  .footer__container {
    max-width: 73rem;
    /* background-color: #d7d4d4; */
    margin: auto;
  }
  
  .footer__row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer__row ul {
    list-style: none;
  }
  
  .footer__col {
    width: 25%;
    padding: 0 1rem;
    flex-direction: row;
  }
  
  .footer__col h4 {
    font-size: .8rem;
    color: #ffff;
    margin-bottom: 1.8rem;
    position: relative;
  }
  
  /* to get red line unders h4 --> not required */
  /* .footer__col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  } */
  
  .footer__col li:not(:last-child) {
    margin-bottom: .6rem;
  }
  
  .footer__col li a {
    font-size: .75rem;
    color: #a9a7a7;
    transform: all .3s ease 0s;
  }
  
  .footer__col li a:hover {
    color: #fff;
  }
  
  .footer__col .social__links a {
    color: #161616;
    background-color: #b5b5b5;
    padding: 3.8px;
    border-radius: 15px;
    margin: .3rem;
  }
  
  .footer__col .social__links a:hover {
    background-color: #fff;
  }
  
  .footer__bottom {
    color: #a9a7a7;
    background-color: #000000;
    font-size: .8rem;
    display: flex;
    flex-wrap: wrap;
    position: relative; 
  }
  
  .fb__container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .fb__location {
    color: #fff;
    margin: 0 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  .fb__location i {
    margin: 0 .4rem;
  }
  
  .fb__options {
    float: end;
    margin-bottom: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .fb__options ul {
    /* float: inline-end; */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 1.5rem; */
  }
  
  .fb__options ul li {
    margin: 0 1.5rem;
  }
  
  .fb__options ul li:hover {
    color: #fff;
    cursor: pointer;
  }
  






/* media query */
@media(max-width: 977px) {
  .image-section-container {
    flex-wrap: wrap;
  }
}

@media(max-width: 928px) {
    .navbar-icons {
        display: none
    }

    .nav-link li {
        display: none;
        visibility: hidden;
    }

    .navbar-links {
        text-align: center;
        margin: auto;
    }

    .image-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media(max-width: 855px) {
  .footer__col {
    width: 50%;
    margin-bottom: 1.8rem;
  }

  .fb__container {
    display: none;
  }
}

/* media queries */
@media(max-width: 767px) {
  .footer__col {
    width: 50%;
    margin-bottom: 1.8rem;
  }

  .navbar-logo {
    display: none;
  }

  .bl__col {
    width: 50%;
    margin-bottom: 1.8rem;
  }

  .clickable-images {
    display:list-item;
    /* width: 50%; */
    margin-bottom: 1.8rem;
  }

  .clickable-image {
    width: 30rem;
  }

  .header-menu-list a{
    margin: .5rem;
  }

  .category__links li {
    margin: 0 .3rem;
  }

  .slider__container {
    display: list-item;
  }

 /* for slider container */
}

@media(max-width: 641px) {
  .navbar-links:first-child {
    display: none;
  }
}

@media(max-width: 574px) {
  .footer__col {
    width: 100%;
  }

  .bl__col {
    width: 100%;
  }

  .gear_up__images {
    display:list-item;
  }

  .slider__container {
    display: list-item;
  }
}


